@font-face {
    font-family: lato-light;
    src: url(Fonts/Lato-Light.ttf);
}
@font-face {
    font-family: prompt;
    src: url(Fonts/Prompt-SemiBold.ttf);
}
@font-face {
    font-family: lato;
    src: url(Fonts/Lato-Regular.ttf);
}
/* General Styling */ 
body{
    margin: 0px;
    overflow-x: hidden;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
.section{
    width: 100%
}
.Header{
    background-color:#E7EDFA; 
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    white-space: nowrap;
    width: 100%;
}
.Image-Container{
    position: absolute;
    display: grid;
    width: 100%;
    place-items: center;
    top: 32px;
    z-index: 1;
}
#Header-Image {
    position: absolute; 
    left: 5%;
    height: 55px;
}
.Header-Buttons{
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
} 
.modal.show{
    opacity: 1;
    transition: opacity 0.3s ease;
}
.modal-content{
    background-color: #FFF5F0;
    margin: 10% auto;
    padding: 20px;
    height: 450px;
    width: 350px;
    text-align: center;
    font-family: arial;
    font-size: 22px;
    color: #C74300;
    border-radius: 4px;
}
.close{
    float: right;
    font-size: 32px;
    cursor: pointer;
    transition: transform 0.1s linear;
} 
.close:hover{
    transform: scale(1.1);
}
.Footer{
    background-color: white;
    position: absolute;
    height: 90px; 
    width: 100%; 
}
.Footer h3{
    position: relative; 
    text-align: center; 
    font-size: 12px; 
    font-family: arial; 
    top: 20px;
    color: #3E3E3E;
}
.Footer Button{
    position: absolute;
    left: 3%;
    top: 58px;
    font-family: arial;
    font-size: 12px;
    color: #3E3E3E;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.Footer Button:hover{
    text-decoration: underline;
}
.social-links{
    position: relative;
    display: flex;
    justify-content: center;
    top: 20px;
}

/* Home Page Styling */
#section1{
    position: absolute;
    height: 600px;
    background-color: #F7F7F7;
}
#section2{
    position: absolute;
    top: 670px;
    background-color: white;
    height: 1000px;
}
#section3{
    position: absolute;
    top: 1650px;
    height: 600px;
    background-color: #F7F7F7;
}
.HomeItems{
    display: flex;
    justify-content: center;
    margin: 0px;
}
.HomeText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: normal;
    left: -230px;
    top: 160px;
}
.Text-1{
    display: flex; 
    font-family: arial;  
    text-align: center;
    font-weight: bold;
}
.HomeText h1{
    font-size: 28px;
}
.Text-2{
    position: relative;
    font-family: arial;  
    color: gray; 
    text-align: center;
    font-weight: bold;
}
.HomeText h3{
    font-size: 18px;
    top: -23px;
}
#Home-Text-Mobile-1{
    display: none;
    text-align: center;
    font-size: 23px;
}
#Home-Text-Mobile-2{
    display: none;
    text-align: center;
    font-size: 14px;
}
.BuyFollowers{
    position: relative;
    top: -20px;
}
#BuyFollowers{
    background-color: #00A3A3;
    font-family: arial;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    border: 1px solid;
    height: 50px;
    width: 230px;
    cursor: pointer;
}
#BuyFollowers:hover{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.HomePictures{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    left: 380px;
    top: 120px;
}
#iPhone{
    position: absolute;
}
.iStock{
    position: absolute;
    border-radius: 10px;
    border: 2px solid;
    border-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    z-index: 1;
}
.iStock:hover{
    transform: scale(1.1);
}
#iStock1{
    left: -130px; 
    top: -70px;
}
#iStock2{
    left: -63px; 
    top: 102px; 
}
#iStock3{
    left: -160px; 
    top: 240px; 
}
#iStock4{
    left: 40px; 
    top: -30px; 
}
#HighQuality_1{
    position: absolute;
    color: #E24100; 
    background-color: transparent; 
    border: none; 
    font-size: 28px;
    font-family: arial;
    font-weight: bold;
    cursor: pointer;
    left: 60px;
    top: 50px;
}
#HighQuality_1:hover{
    text-decoration: underline;
}
.Steps-Text-Mobile{
    font-family: lato-light;
    position: absolute; 
    font-style: italic; 
    font-weight: normal;
    font-size: 16px; 
}
.Steps-Images-Dynamic{
    transition: transform 0.1s ease;
}
.Steps-Images-Dynamic:hover{
    transform: scale(1.05);
}
.Step1{
    position: absolute;
    white-space: nowrap;
    left: 50%;
    top: 780px;
}
.Step1 h3{
    font-family: lato-light;
}
.Step1 h2{
    font-family: lato-light;
}
.Step1 span{
    display: none;
}
#Step1-Images{
    position: absolute;
    left: -150px;
}
#textButton{
    position: absolute;
    font-family: lato-light;
    height: 20px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-style: italic;
    left: 193px;
    top: 93px;
    cursor: pointer;
}
#textButton:hover{
    text-decoration: underline;
}
.Step2{
    position: absolute;
    white-space: nowrap;
    left: 50%;
    top: 1000px;
}
#Step2-Container{
    position: absolute;
    left: -370px;
}
.Step2 h3{
    font-family: lato-light;
}
.Step2 h2{
    font-family: lato-light;
}
.Step2 span{
    display: none;
}
.Step3{
    position: absolute;
    left: 50%;    
    white-space: nowrap;
    top: 1220px;
}
.Step3 h3{
    font-family: lato-light;
}
.Step3 h2{
    font-family: lato-light;
}
.Step3 span{
    display: none;
}
.Step4{
    position: absolute;
    left: 50%;
    white-space: nowrap;
    top: 1440px;
}
#Step4-Container{
    position: absolute;
    left: -370px;
}
.Step4 h3{
    font-family: lato-light;
}
.Step4 h2{
    font-family: lato-light;
}
.Step4 span{
    display: none;
}
.Contact{
    display: grid;
    position: relative;
    top: 1500px;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
    white-space: nowrap;
}
.Socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 350px;
    width: 300px;
    border-radius: 5px;
}
.Socials h3{
    position: absolute; 
    font-family: lato-light; 
    font-weight: normal; 
    font-size: 18px;
    color: beige; 
    text-align: center; 
    top: 190px
}
.Socials h2{
    position: absolute; 
    font-family: lato-light; 
    font-weight: normal; 
    font-size: 18px;
    text-align: center; 
    top: 190px
}
.Socials-Icons{
    position: absolute; 
    top: 125px;
}
#Facebook-Icon{
    top: 118px;
}
#Instagram{
    background-color: #E21C21;
}
#Facebook{
    background-color: #045184;
}
#Facebook-Image{
    height: 350px; 
    width: 300px; 
    position: absolute; 
    opacity: 20%;
}
#Email{
    background-color: #E7EDFA;
}
#Footer-Home{
    top: 2250px;
}

/* Buy Page Styling */
#buy-section1{
    position: absolute;
    height: 500px; 
    width: 100%;
}
#buy-section2{
    position: absolute; 
    height: 550px; 
    width: 100%; 
    top: 580px; 
    background-color: #F3F6FD;
}
#Buy-Description{
    position: relative; 
    font-family: lato-light; 
    font-weight: bold; 
    font-size: 17px; 
    color: #7C7C7C; 
}
#Buy-Description h3{
    white-space: nowrap;
}
#Buy-Description-Mobile{
    display: none;
}
#Buy-Description-Mobile2{
    display: none;
}
#HighQuality_2{
    position: relative;
    left: -208px; 
    background-color: transparent; 
    font-family: lato-light; 
    font-size: 20px; 
    color: red; 
    border: none;
    font-weight: bold;
    top: -45px;
    cursor: pointer;
    z-index: 1;
}
#HighQuality_2:hover{
    text-decoration: underline;
}
.BuyButtons{
    position: relative;
    border: none;
    border-radius: 6px;
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 15px;
    background-color: #00A3A3;
    height: 40px;
    width: 115px;
    margin-left: 52px;
    margin-right: 52px;
    margin-bottom: 10px;
    cursor: pointer;
}
.Decription{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}
.Decription span{
    width: 115px;
    margin: 3px;
    text-align: center;
    font-size: 16px;
    font-family: prompt;
    color: #3E3E3E;
}
.Decription h3{
    margin: 0px;
    text-align: center;
    font-size: 16px;
    font-family: lato;
    font-weight: 500;
    color: #3E3E3E;
}
.button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.body{
    position: relative;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discount{    
    text-align: center;
    font-size: 16px;
    font-family: lato;
    font-weight: none;
    color: #E24100;
}
.Prices{
    position: relative;
    font-family: lato;
    font-weight: lighter;
    font-size: 16px;
    color: #7C7C7C;
}
.Prices-Inline{
    display: none;
    font-family: lato;
    font-weight: lighter;
    font-size: 16px;
    color: #7C7C7C;
}
#Price1{
    left: 280px;
    top: -235px;
}
#Price2{
    left: 285px;
    top: -235px;
}
#Price3{
    left: 288px;
    top: -235px;
}
#Price4{
    left: -650px;
    top: -101px;
}
#Price5{
    left: 290px;
    top: -152px;
}
#Price6{
    left: 295px;
    top: -152px;
}
#Price7{
    left: 299px;
    top: -152px;
}
#Followers-Text-2{
    display: none;
}
.lower-body1 span{
    display: none;
    position: relative; 
    text-align: center; 
    font-family: lato-light; 
    font-size: 20px; 
    color: #7C7C7C; 
    top: 35px; 
    font-weight: bold;
}
.lower-body2{
    position: relative;
    display: flex;
    top: -20px;
    justify-content: center;
    white-space: nowrap;
}
.buy-steps{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.steps{
    margin: 30px;
    text-align: center;
}
.steps h1{
    font-size: 26px;
    font-family: lato-light;
}
.steps h3{
    font-size: 20px;
    font-family: lato-light;
    font-weight: lighter;
}
#Footer-Buy{
    top: 1100px;
}

/* Privacy Policy Page Styling */
.Policy{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
}
#Policy-section1{
    position: absolute; 
    width: 100%; 
    height: 1300px; 
    background-color: #F3F6FD;
}
.Policy-content{
    text-align: left;
}
#Footer-Policy{
    top: 1300px; 
}

/* Checkout Page Styling */
#back{
    position: absolute;
    top: 20px;
    left: 5%;
    font-family: lato;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#checkout-box{
    position: absolute; 
    background-color: white; 
    width: 575px; 
    height: 430px; 
    top: 180px; 
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#usernameInput{
    position: absolute;
    margin-bottom: 10px; 
    padding: 10px; 
    border-radius: 6px; 
    width: 450px; 
    height: 30px; 
    font-size: 16px; 
    border: 1px solid #434245;
    top: 140px;
}
#text-amount{
    font-family: arial;
    font-weight: bold;
    font-size: 36px;
    color: #3E3E3E;
}
#dividing-line{
    position: absolute; 
    top: 105px; 
    height: 1px; 
    width: 500px; 
    background-color: #B9B9B9;
}
#submitBtn{
    position: absolute;
    background-color: #00A3A3; 
    color: white; 
    padding: 10px; 
    border-radius: 20px; 
    height: 45px; 
    width: 300px; 
    font-size: 16px; 
    margin-top: 15px; 
    font-weight: bold; 
    border: 1px solid #434245; 
    cursor: pointer;
    top: 200px;
}
#errorText{
    position: absolute; 
    text-align: center;
    font-size: 16px;
    top: 260px; 
    color: red; 
    margin-top: 18px; 
    font-family: arial;
}
#select-different{
    font-family: lato-light;
    font-size: 18px;
    font-weight: lighter;
    border: none;
    background-color: #E7EDFA;
    border-radius: 6px;
    cursor: pointer;
    height: 40px;
    width: 220px;
    white-space: nowrap;
}
#select-different:hover{
    text-decoration: underline;
}

/* Mobile Optimization */
@media (max-width: 1100px) {
    #Header-Image{
        position: relative;
        left: 0px;
        top: -28px;
    }
    .Header-Buttons{
        display: none;
    }
}
@media (max-width: 980px){
    .body{
        position: relative;
        height: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 200px;
    }
    .button-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
    .BuyButtons{
        margin-left: 28px;
        margin-right: 28px;
    }
    #buy-section1{
        position: absolute;
        height: 700px; 
        width: 100%; 
    }
    #buy-section2{
        position: absolute; 
        height: 800px; 
        width: 100%; 
        top: 800px; 
        background-color: #F3F6FD;
    }
    #Buy-Description h3{
        display: none;
    }
    #Buy-Description-Mobile{
        display: block;
        font-size: 20px;
        margin-top: 10px;
        text-align: center;
        white-space: nowrap;
    }
    #HighQuality_2{
        left: -71px; 
        top: -49px;
    }
    .lower-body1{
        position: relative;
        top: 210px;
    }
    .lower-body1 h3{
        display: none;
    }
    .lower-body1 span{
        display: block;
        margin-right: 5px;
        margin-left: 5px;
    }
    .lower-body2{
        position: relative;
        top: 250px;
        white-space: normal;
    }
    .steps{
        margin: -20px;
    }
    .buy-steps{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    #Price1{
        left: 234px;
        top: -503px;
    }
    #Price2{
        left: -136px;
        top: -369px;
    }
    #Price3{
        left: 242px;
        top: -420px;
    }
    #Price4{
        left: -130px;
        top: -286px;
    }
    #Price5{
        left: 244px;
        top: -337px;
    }
    #Price6{
        left: -126px;
        top: -203px;
    }
    #Price7{
        left: 252px;
        top: -253px;
    }
    #Footer-Buy{
        top: 1550px;
    }
}
@media (max-width: 900px) {
    #Policy-section1{
        position: absolute; 
        width: 100%; 
        height: 1800px; 
        background-color: #F3F6FD;
    }
    #Footer-Policy {
        top: 1800px;
    }
    .HomePictures{
        display: none;
    }
    .HomeItems{
        display: grid;
        place-items: center;
    }
    .HomeText{
        position: relative;
        white-space: nowrap;
        left: 0px;
        top: 160px;
    }
    #section3{
        height: 790px;
    }
    .Contact{
        grid-template-columns: repeat(1, 0fr);
    }
    .Socials{
        height: 180px;
        top: -15px;
    }
    .Socials h3{
        top: 95px;
    }
    .Socials h2{
        top: 95px;
    }
    #Facebook-Image{
        height: 180px;
    }
    .Socials-Icons{
        top: 45px;
    }
    #Facebook-Icon{
        top: 40px;
    }
    #Footer-Home{
        top: 2400px;
    }
}
@media (max-width: 768px) {
    .Step1{
        left: 20px;
    }
    .Step1 h2{
        display: none;
    }
    .Step1 span{
        display: block;
        top: 74px; 
    }
    #Step1-Images{
        left: 255px;
        top: 20px;
    }
    #textButton{
        left: -8px;
        top: 130px;
    }
    .Step2{
        left: 20px;
        white-space: nowrap;
    }
    #Step2-Container{
        left: 0px;
    }
    .Step3{
        left: 20px;
    }
    #Step3-Images{
        position: absolute;
        left: 540px;
    }
    .Step4{
        left: 20px;
        white-space: nowrap;
    }
    #Step4-Container{
        left: 0px;
    }
    .social-links{
        top: 15px;
    }
    .Footer h3{
        top: 25px;
    }
    .Footer Button{
        position: relative;
        left: 0px;
        top: 0px;
    }
    #Footer-Button{
        position: relative;
        top: -22px;
    }
    .Footer-Button{
        display: grid;
        place-items: center;
    }
    .Footer h3{
        font-size: 10px;
    }
    .Footer button{
        font-size: 10px;
        top: 5px;
    }
    #checkout-box{
        width: 350px;
        height: 400px;
    }
    #text-amount{
        text-align: center;
        font-size: 28px;
        white-space: nowrap;
    }
    #dividing-line{
        width: 280px;
        top: 100px;
    }
    #usernameInput{
        width: 265px; 
        height: 22px;
        top: 130px; 
    }
    #select-different{
        top: 220px;
    }
    #submitBtn{
        width: 260px;
        height: 38px;
        top: 180px;
    }
    #errorText{
        top: 235px;
    }
}
@media (max-width: 570px) {
    .Steps-Images{
        display: none;
    }
    .Step2 h2{
        display: none;
    }
    .Step2 span{
        display: block;
        top: 74px;
    }
    .Step3 h2{
        display: none;
    }
    .Step3 span{
        display: block;
        top: 74px;
    }
    .Step4 h2{
        display: none;
    }
    .Step4 span{
        display: block;
        top: 74px;
    }
}
@media (max-width: 470px) {
    .HomeText h1{
        font-size: 24px;
    }
    .HomeText h3{
        font-size: 16px;
    }
    #HighQuality_1{
        font-size: 24px;
        top: 43px;
        left: 52px;
    }
    .Socials{
        width: 250px;
    }
    #Facebook-Image{
        width: 250px;
    }
}
@media (max-width: 380px) {
    .HomeText h1{
        display: none;
    }
    .HomeText h3{
        display: none;
    }
    #Home-Text-Mobile-1{
        display: block;
    }
    #Home-Text-Mobile-2{
        display: block;
    }
    #HighQuality_1{
        font-size: 23px;
        top: 26px;
        left: 123px;
    }
    #HighQuality_2{
        top: -73px;
        left: -25px;
    }
    .Contact{
        top: 1550px;
    }
    .Socials{
        width: 200px;
    }
    #Facebook-Image{
        width: 200px;
    }
    .BuyFollowers{
        top: 10px;
    }
    .body{
        top: 130px;
    }
    #buy-section2{
        top: 950px;
    }
    .lower-body1{
        top: 320px;
    }
    .lower-body2{
        top: 360px;
    }
    #Buy-Description-Mobile{
        display: none;
    }
    #Buy-Description-Mobile2{
        display: block;
        font-size: 20px;
    }
    .BuyButtons{
        margin-left: 5px;
        margin-right: 5px;
    }
    #Followers-Text-1{
        display: none;
    }
    #Followers-Text-2{
        display: inline;
    }
    .Prices{
        display: none;
    }
    .Prices-Inline{
        display: inline;
        position: relative;
        top: 2px;
    }
    #Footer-Buy{
        top: 1700px;
    }
    #Policy-section1{
        height: 2080px;
    }
    #Footer-Policy{
        top: 2080px;
    }
    #checkout-box{
        width: 250px;
    }
    #dividing-line{
        width: 220px;
    }
    #text-amount{
        white-space: normal;
    }
    #usernameInput{
        width: 215px;
    }
    #submitBtn{
        width: 210px;
    }
    #select-different{
        height: 30px;
        width: 200px;
        font-size: 16px;
    }
    #back{
        display: none;
    }
    #errorText{
        font-size: 14px;
    }
}